<div class ="container">
<h1>Eat Da Burger</h1>


<h2> Burger </h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured }}
     <li class ="create" data-id={{this.id}}> <span>{{this.id}} {{name}}</span> <button >Devoure It</button></li>
    {{/unless }}
  {{/each}}
  
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
     <li class ="done"> {{this.id}} {{name}}</li>
    {{/if}}
  {{/each}}
  </ul>

{{!-- 
</ul>
<ul>
    <li> <li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}} Devoure TIME!{{else}}EAT UP!{{/if}}
	</button></li>
</ul> --}}

    <div class="row justify-content-center">
        <form id="new-burger">
            <textarea type="text" name="burger"></textarea>
    </div>
    <div class="row justify-content-center">

        <button class="btn" type="submit" name="devoured">Submit</button>
        </form>
    </div>
    <div class="row justify-content-center">
        <h6>Enter a burger you want to eat and click "Submit" to place your order</h6>
    </div>
</div>